
/* Icon font */
@font-face {
  font-family: 'icon';
  src:url('fonts/icomoon.eot?-pqk25');
  src:url('fonts/icomoon.eot?#iefix-pqk25') format('embedded-opentype'),
    url('fonts/icomoon.woff?-pqk25') format('woff'),
    url('fonts/icomoon.ttf?-pqk25') format('truetype'),
    url('fonts/icomoon.svg?-pqk25#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


.folder h3:before {
  font-family: icon;
  padding: 0 10px;
  content: "\f114";
}

.folder.open h3:before {
  content: "\f115";
}

.file:before {
  font-family: icon;
  float: left;
  padding: 0 10px;
  content: "\f036";
  line-height: 1.4;
}

.file[data-url*="css"]:before {  color: #29A8DE; content: "\f13c"; }
.file[data-url*="html"]:before { color: #F26621; content: "\f121"; }
.file[data-url*="md"]:before { color: #755838; content: "\e601"; }
.file[data-url*="coffee"]:before { color: #A6814F; content: "\e600"; }
.file[data-url*="rb"]:before { color: #B42839; content: "\e602"; }
.file[data-url*="png"]:before, .file[data-url*=".jpg"]:before { color: #35BAA0; content: "\f03e"; }

.file[data-url*="js"]:before {
  content: "JS";
  font-family: Helvetica;
  color: #F1DD3F;
  font-weight: 900;
}
