/* Fonts */
    
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

@import url('/icons.css');
  
/* css reset */
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: url("/bg.png");
}

/* scroll bars in chrome */

::-webkit-scrollbar {
  height: 2px;
  width: 2px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: white;
  -webkit-border-radius: 0;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

/* application styles */

body {
  background-color: #ccc;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
}

.editor, #nav, #files {
  position: fixed;
}

.editor {
  top: 0px; left: 280px; bottom: 30px; right: 0px;
  font-family: 'Ubuntu Mono', monospace;
  display: none;
}

.editor.active {
  display: block;
  transform: none;
  opacity: 0.8;
  transition: all 0.3s ease-in;
}

.editor.modified {
  opacity: 1;
}

#nav {
  bottom: 0px; left: 280px; right: 0px;
  display: block;
  font-size: 15px; line-height: 20px;
  color: lime;
  background-color: rgba(49, 49, 49, 0.21);
  padding: 5px 10px 5px 10px;
  border-top: 1px solid #333;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif, Helvetica;
  font-weight: bold;
  transition: all 0.5s ease-in;
  cursor: pointer;
  text-shadow: 0px 0px 10px #999;
}

#nav:hover {
  text-decoration: underline;
}

#nav.modified {
  background-color: rgba(176, 51, 78, 0.21);
  transition: all 0.5s ease-out;
  color: orange;
}

#nav em, #nav strong {
  display: inline-block; float: right;
  font-weight: bold;
  width: 100px;
  text-align: right;
}

#nav strong {
  color: #ffc;
  font-weight: normal;
  font-size: 12px;
}


#files {
  top: 0px; left: 0px; bottom: 0px;
  width: 280px;
  font-size: 14px;
  overflow: auto;
  text-align: left;
  background: #222222;
  border-right: 1px solid #444;
  -webkit-user-select: none;
  -moz-user-select: none;
  padding: 0px 0;
  box-sizing: border-box;
  left: -280px;
  opacity: 0;
  transition: all 0.5s ease-out;
}

#files.loaded {
  left: 0px;
  opacity: 1;
  transition: all 0.5s ease-out;
}

.folder {
  border-bottom: 1px solid #333;
}

.folder.open {
  background: linear-gradient(to bottom, #222 0%, #000 100%);
}

.folder h3 {
  box-sizing: border-box;
  text-shadow: 0px 0px 1px #999;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 5px;
  padding-left: 10px;
  color: #999;
  padding-top: 2px;
  line-height: 24px;
  overflow: hidden;
  font-weight: normal;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  background: linear-gradient(to bottom, #222 0%, #333 100%);
}
.folder.open h3 {
  color: #f9f9f9;
  font-weight: 900;
  background: none;
  background-color: transparent;
}

.folder h3 em {
  display: inline-block;
  float: right;
  color: #666;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  line-height: 16px;
  font-weight: normal;
  text-shadow: 0px 0px 10px #000;
  background-color: rgba( 0, 0, 0, 0.2 );
  border-radius: 10px;
  text-align: center;
  margin-top: 2px;
  min-width: 2em;
}
.folder.open h3 em {
  display: none;
}

.folder {
  overflow: hidden;
}


.folder.open .file {
  transition: all 0.25s ease-out;
  height: auto;
  opacity: 0.5;
  padding: 1px 3px 3px 10px;
}

.file {
  transition: all 0.25s ease-out;
  white-space: nowrap;
  overflow: hidden;
  color: #eee;
  text-overflow: ellipsis;
  height: 0;
  opacity: 0;
  line-height: 20px;
  font-weight: bold;
  /*text-shadow: 1px 2px 2px #111, 0 0 0 #000, 1px 2px 4px #111;*/

}

.folder .file:hover, .folder h3:hover {
  /*background: rgba(255, 255, 255, 0.2);*/
  color: cyan;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  opacity: 1;
}

#files .file.selected {
  /*background: rgba(255, 255, 255, 0.5);*/
  color: lime;
  font-weight: bold;
  opacity: 1;
  height: auto;
  padding: 1px 3px 3px 10px;
}

#files .file.modified {
  color: orange;
  height: auto;
  opacity: 0.5;
  padding: 1px 3px 3px 10px;
  background: transparent;
}

#files .file.selected.modified {
  opacity: 1;
}


#files.modified .file.selected {
  color: orange;
}


/* box shadows */

#nav { z-index: 100; box-shadow: 0px -2px 8px rgba(39, 40, 36, 0.55); }
#files { z-index: 150; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }


.modal {
  background-color: rgba(0, 0, 0, 0.66);
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  z-index: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal_bd {
  min-width: 40%;
  min-height: 100px;
  align-self: center;
  font-size: 100px;
  text-align: center;
  opacity: 0.7;
  color: #f9f9f9;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #444444;
}

.modal_bd input {
  font-size: 22px;
  outline: none;
  border: 1px solid #444444;
}

/* Loading shizzle */

.dots {
  -webkit-animation: blink 2s infinite;
  animation: blink 2s infinite;
}
.dots:nth-letter(1) { -webkit-animation-delay: 1s; animation-delay: 1s; }
.dots:nth-letter(2) { -webkit-animation-delay: 2s; animation-delay: 2s; }
.dots:nth-letter(3) { -webkit-animation-delay: 3s; animation-delay: 3s; }

.loading {
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.66);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.loading:after {
  min-width: 100px;
  min-height: 100px;
  align-self: center;
  border-radius: 50px;
  font-family: icon;
  content: "\e603";
  font-size: 100px;
  text-align: center;
  opacity: 0.7;
  color: #fff;
  -webkit-animation: spin 1.5s infinite;
  animation: spin 1.5s infinite;
}


/* ACE Hacks */

#ace_settingsmenu,
#kbshortcutmenu  {
  background-color: #222222 !important;
  color: #f9f9f9 !important;
  box-shadow: none !important;
  border: 1px solid #444444 !important;
}

/* Animations */

@-webkit-keyframes blink {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes blink {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
}

@keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(180deg);
    }
}
